@use 'variables' as *;
//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
  margin-bottom: 0;
}

  body {
  margin: 0;
  padding: 0;
  background-color: $blanco;
}

//tipografia
body {
  font-family: $p;
  color: $chocolate;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $h;
  color: $chocolate;
}
