@use 'variables' as *;
@use 'mixins' as *;


/* =====================
   HERO
===================== */
.hero {
  position: relative;
  z-index: 1;
}

.hero-bg {
  width: 100%;
  height: auto;
  display: block;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

/* TEXTO CENTRADO EN HERO */
.logo-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: $blanco;
  text-align: center;

  /* RECTÁNGULO */
  padding: 3rem 10rem;
  border: 3px solid $blanco;
  background-color: transparent;

  width: fit-content;   
}

.intro-text {
  max-width: 800px;     
  margin: 4rem auto;     
  text-align: center;   
  padding: 0 1.5rem;    

  h2 {
    font-family: $h;
    font-size: 45px;
    margin-bottom: 1rem;
  }

  p {
    font-family: $p;
    line-height: 1.6;
    font-size: 18px;
  }
}

/* =========================
   PRODUCTOS DESTACADOS
========================= */

.featured-products {
  max-width: 1200px;
  margin: 6rem auto;
  padding: 0 2rem;
  text-align: center;

  h2 {
    font-family: $h;
    margin-bottom: 3rem;
    font-weight: $semibold;
  }
}

/* GRID */
.products-grid-featured {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap; 
}

/* CARD */
.product-card-featured {
  position: relative;
  width: 300px;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
  }
}

/* LABEL SOBRE LA IMAGEN */
.product-label-featured {
  position: absolute;
  left: 50%;
  bottom: 30px; 
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.8); 
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  width: 275px;

  font-family: $h;
  font-weight: $semibold;
  font-size: 1rem;
  color: $chocolate;
  box-shadow: $shadow-soft;
}
