//PALETA DE COLORES
$chocolate: #694C3A;
$beige: #AEA798;
$rosa-claro: #F3E2DF;
$rosa-oscuro: #DDABA4;
$gris: #ccc;
$negro: #000000;
$blanco: #FFFFFF;
$overlay-dark: rgba(0, 0, 0, 0.45);
$shadow-soft: 0 8px 20px rgba(0, 0, 0, 0.15);
//COLORES INDICADORES
$alerta: #FBBA06;
$correcto: #00A272;
$error: #DB1318;

//TIPOGRAFIA
//TIPOGRAFIA

$h: 'Trirong', serif;
$p: 'Manrope', sans-serif;


//FONT WEIGHT
$extralight: 200;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$black: 900;

//FONT SIZE
$size-h1: 40px;
$size-h2: 32px;
$size-h3: 24px;
$size-p:  18px;


//MEDIA QUERIES:
$mobile-min: 360px;
$mobile-max:575px;
$tablet-min: 576px;
$tablet-max:991px;
$desktop-min: 992px;
$desktop: 1024px;




